<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
 xmlns:android="http://schemas.android.com/apk/res/android"
 id="com.scgateway.phonegap" version="4.0.0">
 <name>SCGateway SDK</name>
 <description>SCGateway wrapper Cordova Plugin for financial transactions and user management</description>
 <keywords>scgateway,gateway,financial,transactions,smallcase</keywords>
 
 <!-- iOS variables -->
 <preference name="IOS_DEPLOYMENT_TARGET" value="14.0" />
 <preference name="SWIFT_VERSION" value="6.0" />
 <engines>
 <engine name="cordova" version=">=10.0.0" />
 <engine name="cordova-android" version=">=13.0.0" />
 <engine name="cordova-ios" version=">=7.1.0" />
 
 <!-- Informational tooling requirements -->
 <engine name="android-sdk" version=">=35" />
 <engine name="apple-xcode" version=">=16.4" />
 <engine name="apple-ios" version=">=14.0" />
 </engines>
 <js-module src="SCGatewayPhonegap.js" name="scgateway">
        <clobbers target="scgateway" />
    </js-module>
 <platform name="android">
 <config-file target="res/xml/config.xml" parent="/*">
 <feature name="SCGatewayPhonegap">
 <param name="android-package" value="com.scgateway.phonegap.SCGatewayPhonegap"/>
 </feature>
 </config-file>
 <source-file src="SCGatewayPhonegap.java" target-dir="src/com/scgateway/phonegap/android" />
 <framework src="src/android/gradle/smallcase-sdk.gradle" custom="true" type="gradleReference"/>
<config-file target="AndroidManifest.xml" parent="/manifest">
 <uses-permission android:name="android.permission.INTERNET" />
 </config-file>
</platform>
 <platform name="ios">
 <config-file target="config.xml" parent="/*">
 <feature name="SCGatewayPhonegap">
 <param name="ios-package" value="SCGatewayPhonegap"/>
 </feature>
</config-file>
<framework src="SCGateway.framework" custom="true" />
<!-- Note: SCGateway.framework should be updated to latest version (5.0.0+) -->
 <header-file src="SCGatewayPhonegap.h" />
 <source-file src="SCGatewayPhonegap.m" />
 </platform>
</plugin>
